div.infinite-news-article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #5E80A3;
}

div#infinite-news iframe {
    max-width: 100%;
}

div#infinite-news div.infinite-news-article:not(.infinite-article-wide) iframe {
    height: auto;
}

@media screen and (min-width: 64.063em) {
    div.infinite-news-article:not(.infinite-article-wide) {
        width: 345px;
        margin-right: 15px;
    }

    div.infinite-news-article {
        padding-left: 0;
        padding-right: 0;
    }

    div#infinite-news {
        width: 720px;
    }

    div#infinite-news .infinite-news-article:nth-child(odd) {
        float: left;
    }

    div#infinite-news .infinite-news-article:nth-child(even) {
        float: right;
    }
}

div#infinite-news div.infinite-article-featured p.infinite-article-meta, div#infinite-news div.infinite-article-featured p.infinite-article-meta time,
div#infinite-news div.infinite-article-featured h2.infinite-news-article-headline, div#infinite-news div.infinite-article-featured h2.infinite-news-article-headline a {
    color: white;
}

div#infinite-news div.infinite-article-featured .infinite-news-article-header {
    background-color: #2cabc7;
    padding-left: 6px;
    padding-right: 6px;
    max-width: 710px;
}

div#infinite-news div.infinite-article-featured p.infinite-article-meta time {
    padding: 0;
}

div#infinite-news div.infinite-article-featured h2.infinite-news-article-headline {
    padding-bottom: 10px;
    margin-bottom: 0;
    border-top: 1px dashed white;
    padding-top: 3px;
}

div#infinite-news div.infinite-article-featured h2.infinite-news-article-headline a {
    padding: 0;
    margin: 0;
}

div#infinite-news div.infinite-article-featured figure {
    margin-top: 0;
}

div#infinite-news figcaption.caption {
    margin-bottom: 10px;
}

div#infinite-news div.infinite-article-featured p.infinite-article-meta {
    padding-top: 6px;
    padding-bottom: 3px;
}


p.infinite-article-meta, p.infinite-article-meta time {
    color: #275e88;
    margin-bottom: 0;
}

div#infinite-news figure {
    margin-bottom: 0;
}

h2.infinite-news-article-headline a {
    font: 20px/22px 'Roboto Condensed', sans-serif !important;
}

h2.infinite-news-article-headline {
    margin-top: 0 !important;
}